<section class="landing-section bg-white h-screen w-screen text-center relative overflow-hidden">
    <header class="z-30 relative pt-80 md:pt-40">
        <h2 class="text-white pt-40 text-[30px] font-medium">
            El Encanto del Sur
        </h2>
        <p class="text-white text-md">
            Donde el frío se convierte en una experiencia cálida
        </p>
    </header>
    <div class="absolute top-0 bottom-0 w-full h-full">
        <img 
            class="h-full w-full object-cover object-center" 
            src="public/vuelve.webp" 
            alt="Paisaje de Tierra del Fuego"
        >
    </div>
</section>