<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden">
    <header class="z-30 relative pt-80 md:pt-40">
        <h2 class="text-black pt-40 text-[30px] font-medium">
            El encanto del frío te atrapara
        </h2>
        <p class="text-black text-md">
            Paisajes bellos, experiencias únicas
        </p>
    </header>
    <div class="absolute top-0 bottom-0 w-full h-full">
        <img 
            class="h-full w-full object-cover object-center" 
            src="../../public/explora.webp" 
            alt="Paisaje de Tierra del Fuego"
        >
    </div>
</section>