<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden">
    <header class="z-30 relative pt-80 md:pt-40">
        <h2 class="text-black pt-40 text-[30px] font-medium">
            Viva una experiencia austral
        </h2>
        <p class="text-black text-md font-medium">
            Programe una excursión hoy mismo
        </p>
    </header>
    <div class="absolute top-0 bottom-0 w-full h-full">
      <video class="object-cover w-full h-full" autoplay muted loop src="../../public/TierraDelFuego.mp4"></video>
    </div>
</section>